<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GLASSROOM</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script type="application/javascript" src="js/main.js"></script>
        <script type="application/javascript" src="js/jquery-3.1.0.min.js"></script>
	</head>

	<body>
		<div class="slide">
			<div class="body">
                <p>Was möchten Sie mit „{{guide.title}}“ tun?</p>
                <p>1) Anleitung <span class="command">fortsetzen</span></p>
                <p>2) Anleitung <span class="command">löschen</span></p>
			</div>
            <div class="speech"></div>
			<div class="navigation">
				{{#each commands}}
				<button id="btn-{{this.key}}" onclick="GRT.executeCommand('{{this.key}}');" {{#unless this.label}}class="close"{{/unless}}>{{this.label}}</button>
				{{/each}}
			</div>
		</div>
	</body>
</html>
