<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GLASSROOM</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="slide splash">
    <h1>GLASSROOM</h1>
    <h2>Vielen Dank!</h2>
  </div>
</body>
</html>
