<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GLASSROOM</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script type="application/javascript" src="js/main.js"></script>
	</head>

	<body>
		<div class="slide video">
			<div class="recording video"> </div>
		</div>
	</body>
</html>
