<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GLASSROOM</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script type="application/javascript" src="js/main.js"></script>
        <script type="application/javascript" src="js/jquery-3.1.0.min.js"></script>
	</head>

	<body>
		<div class="slide">
			<div class="body">
				<p>Wenn das <img src="icons/voice.png" style="width:24px;">-Symbol angezeigt wird nehmen Sie einen Text auf. Nach <span style="color:#ED7F00;">2 Sekunden Stille</span> wird die Aufnahme automatisch beendet.</p>
			</div>
            <div class="speech"></div>
			<div class="navigation">
				{{#each commands}}
				<button id="btn-{{this.key}}" onclick="GRT.executeCommand('{{this.key}}');" {{#unless this.label}}class="close"{{/unless}}>{{this.label}}</button>
				{{/each}}
			</div>
		</div>
	</body>
</html>
